@model IEnumerable<MyGameScore.Models.Games>

@{
    ViewData["Title"] = "Registro de pontos do Basquete";

    int jogosDisputados, pontosTotal, maiorPontuacao, menorPontuacao, qtdRecorde;
    double mediaPontos = 0.0;
    bool primeiraPartida;
    DateTime menorData, maiorData;

    jogosDisputados = 0;
    pontosTotal = 0;
    maiorPontuacao = 0;
    menorPontuacao = 0;
    qtdRecorde = 0;
    primeiraPartida = true;

    menorData = DateTime.MaxValue;
    maiorData = DateTime.MinValue;

    var itens = Model.OrderBy(a => a.DataJogo);

    foreach (var item in itens)
    {
        jogosDisputados = jogosDisputados + 1;
        pontosTotal = pontosTotal + item.Pontos;

        if (maiorPontuacao < item.Pontos)
        {
            if (maiorPontuacao > 0)
            {
                qtdRecorde = qtdRecorde + 1;
            }
            maiorPontuacao = item.Pontos;
        }

        if (primeiraPartida)
        {
            menorData = item.DataJogo;
            maiorData = item.DataJogo;
            menorPontuacao = item.Pontos;
            primeiraPartida = false;
        }

        if (menorPontuacao > item.Pontos)
        {
            menorPontuacao = item.Pontos;
        }

        if (menorData > item.DataJogo)
        {
            menorData = item.DataJogo;
        }

        if (maiorData < item.DataJogo)
        {
            maiorData = item.DataJogo;
        }
    }

    if (jogosDisputados > 0 && pontosTotal > 0)
    {
        mediaPontos = (double)pontosTotal / jogosDisputados;
    }

    string menorDataFormat = menorData.ToString("dd/MM/yy");
    string maiorDataFormat = maiorData.ToString("dd/MM/yy");

}

<div class="col-md-12">
    <div class="col-md-2">
        <h3>Resultados</h3>
    </div>
    <div class="col-md-10 colRight">
        <h3>@menorDataFormat até @maiorDataFormat </h3>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="col-md-12">
                    <div class="col-md-10 colName">
                        <h4>Jogos disputados:</h4>
                    </div>
                    <div class="col-md-2 colRight">
                        <h4>@jogosDisputados</h4>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-12">
                    <div class="col-md-10 colName">
                        <h4>Total de pontos marcados na temporada:</h4>
                    </div>
                    <div class="col-md-2 colRight">
                        <h4>@pontosTotal</h4>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-12">
                    <div class="col-md-10 colName">
                        <h4>Média de pontos por jogo:</h4>
                    </div>
                    <div class="col-md-2 colRight">
                        <h4>@Math.Round(mediaPontos, 1)</h4>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-12">
                    <div class="col-md-10 colName">
                        <h4>Maior pontuação em um jogo:</h4>
                    </div>
                    <div class="col-md-2 colRight">
                        <h4>@maiorPontuacao</h4>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-12">
                    <div class="col-md-10 colName">
                        <h4>Menor pontuação em um jogo:</h4>
                    </div>
                    <div class="col-md-2 colRight">
                        <h4>@menorPontuacao</h4>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-12">
                    <div class="col-md-10 colName">
                        <h4>Quantidade de vezes que bateu o próprio recorde:</h4>
                    </div>
                    <div class="col-md-2 colRight">
                        <h4>@qtdRecorde</h4>
                    </div>
                </div>
            </td>
        </tr>


    </tbody>
</table>

<div>
    <a asp-action="Create" class="btn btn-default">Ir para inclusão de jogos</a>
</div>

